@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: url('./assets/fonts/SF-Pro-Display-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url('./assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: url('./assets/fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

:root {
  --body-bg-color: #f5f5f5;
  --default-text-color: #333;
  --kanban-list-title-color: #999;
  --kanban-list-add-text-color: #666;
  --base-separation: 1rem;
  --half-separation: calc(var(--base-separation) / 2);
}

* {
  font-family: 'SF-Pro-Text-Regular';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  font-size: 1rem;
  color: var(--default-text-color);
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SF-Pro-Display-Bold';
}
