@font-face {
  font-family: 'SF-Pro-Display-Thin';
  src: url('./assets/fonts/SF-Pro-Display-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src: url('./assets/fonts/SF-Pro-Text-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SF-Pro-Text-Bold';
  src: url('./assets/fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 20, 23);
  font-family: 'SF-Pro-Text-Regular';
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SF-Pro-Display-Bold';
}
