<div>
  <h2>Adicionar Nova Tarefa</h2>

  <form (ngSubmit)="submitTask()" [formGroup]="reactiveForm">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input
        class="form-control"
        id="title"
        type="text"
        name="title"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Descrição</label>
      <input
        id="description"
        type="text"
        name="description"
        formControlName="description"
      />
    </div>
    <div class="form-group">
      <label for="date">Data de Vencimento</label>
      <input id="date" type="date" name="date" formControlName="date" />
    </div>
    <div class="form-group">
      <label for="hours">Horas</label>
      <input id="hours" type="text" name="hours" formControlName="hours" />
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select name="status" id="status" formControlName="status">
        <option value="toDo">To Do</option>
        <option value="inProgress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>

    <div class="form-group" formArrayName="tags">
      <div *ngFor="let tag of tags.controls; let i = index">
        <label for="tags">Nome da Tag:</label>
        <input id="tags" type="text" [formControlName]="i" />
      </div>
    </div>

    <div *ngIf="reactiveForm.invalid && reactiveForm.touched">
      <p class="error-msg">Preencha todos os campos</p>
    </div>

    <div class="form-group">
      <button type="button" class="btn-secondary" (click)="addTag()">
        Adicionar Tags
      </button>
    </div>

    <button
      type="button"
      (click)="submitTask()"
      class="btn btn-primary"
      [disabled]="isFormInvalid"
      >Adicionar Tarefa</button
    >
  </form>
</div>
