:host {
  background-color: var(--kanban-task-bg-color);
  color: var(--kanban-task-text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-separation);
  border-radius: 8px;
  margin-bottom: var(--base-separation);
}

.task-description {
  outline: none;
  word-break: break-word;
}

.task-delete {
  background: none;
  border: none;
  cursor: pointer;
  flex-shrink: 1;
  margin-left: var(--half-separation);
}

.task-delete img {
  position: relative;
  top: 2px;
  filter: saturate(0) brightness(1.5);
  transition: filter 300ms ease-in-out;

  &:hover,
  &:focus {
    filter: none;
  }
}
