<app-task-form (addTask)="onAddTask($event)"></app-task-form>

<div class="kanban-board">
  <div class="kanban-column">
    <h2>To-Do</h2>
    <app-task-list
      [tasks]="todoTasks"
      (handleTask)="handleTask($event)"
    ></app-task-list>
  </div>
  <div class="kanban-column">
    <h2>In Progress</h2>
    <app-task-list
      [tasks]="inprogressTasks"
      (handleTask)="handleTask($event)"
    ></app-task-list>
  </div>
  <div class="kanban-column">
    <h2>Done</h2>
    <app-task-list
      [tasks]="doneTasks"
      (handleTask)="handleTask($event)"
    ></app-task-list>
  </div>
</div>
