:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  padding: calc(var(--base-separation) * 3);
  width: 350px;
  flex-shrink: 0;
}

.list-title {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: var(--base-separation);
}

.list-title input {
  width: 60%;
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  margin: 0;
}

span {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-left: 8px;
  color: var(--kanban-list-title-color);
}

.list-add-task {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
  color: var(--kanban-list-add-text-color);
  font-size: 1rem;
  cursor: pointer;
}
