<div class="container">
  <h2>Adicionar Nova Tarefa h2 1</h2>
  <div class="henrique">
    <h2>Adicionar Nova Tarefa h2 2</h2>
  </div>

  <form (ngSubmit)="submitTask()">
    <div>
      <input id="title" type="text" [(ngModel)]="newTask.title" name="title" />
      <label for="title">Titulo</label>
    </div>
    <div>
      <label for="description">Descrição</label>
      <input
        id="description"
        type="text"
        [(ngModel)]="newTask.description"
        name="description"
      />
    </div>
    <div>
      <label for="date">Data de Vencimento</label>
      <input id="date" type="date" [(ngModel)]="newTask.date" name="date" />
    </div>

    <button type="submit" class="btn btn-primary">sadadsa</button>
    <!--  <button type="submit">Adicionar Tarefas</button> -->
  </form>
</div>

<h2>KFJBAJFJASDASHGDHGAS</h2>
