<div
  class="board-lists"
  cdkDropList
  cdkDropListOrientation="horizontal"
  cdkDropListGroup
>
  <app-kanban-list
    *ngFor="let list of board.lists"
    [list]="list"
    cdkDrag
    cdkDragPreviewContainer="parent"
  >
    <app-kanban-drag-handle
      slot="dragHandle"
      cdkDragHandle
    ></app-kanban-drag-handle>
    <app-kanban-list-tasks-wrapper
      class="board-list-task-wrapper"
      cdkDropList
      [cdkDropListData]="list"
    >
      <app-kanban-task
        *ngFor="let task of list.tasks; index as taskIndex"
        [task]="task"
        cdkDrag
        cdkDragPreviewContainer="parent"
      ></app-kanban-task>
    </app-kanban-list-tasks-wrapper>
  </app-kanban-list>
</div>
