<div class="task-content" (click)="openTaskModal()">
  <h3 class="task-title">
    {{ task.title }}<span class="task-hours"> | {{ task.hours }}h</span>
  </h3>
  <p class="task-description">
    {{ task.description }}
  </p>
  <div class="task-info">
    <p class="task-date">Prazo: {{ task.date | customDateFormat }}</p>

    <button type="button" class="task-edit" (click)="edit.emit()">
      <img src="assets/icons/edit-icon-2.svg" alt="edit" />
    </button>
  </div>
</div>
<button type="button" class="task-remove" (click)="remove.emit()">
  <img src="assets/icons/remove-icon.svg" alt="delete" />
</button>
