<div class="task-content">
  <h2 class="task-title">{{ data.task.title }}</h2>
  <p>Prazo: {{ data.task.date | customDateFormat }}</p>
  <p class="task-description">{{ data.task.description }}</p>
  <div class="task-info">
    <p class="task-hours">Horas: {{ data.task.hours }}h</p>
    <p
      >Valor:
      {{
        calculateTotalValue(data.task)
          | currencyFormat
            : { style: 'currency', currency: 'BRL', minimumFractionDigits: 2 }
      }}</p
    >
  </div>
</div>

<button type="button" class="task-close" (click)="close()">
  <img src="assets/icons/close-icon.svg" alt="fechar" />
</button>
