<div>
  <h2>Editar Tarefa</h2>

  <form (ngSubmit)="saveTask()" #form="ngForm">
    <div>
      <label for="title">Titulo</label>
      <input
        id="title"
        type="text"
        [(ngModel)]="data.task.title"
        name="title"
        required
      />
    </div>
    <div>
      <label for="description">Descrição</label>
      <input
        id="description"
        type="text"
        [(ngModel)]="data.task.description"
        name="description"
        required
      />
    </div>
    <div>
      <label for="date">Data de Vencimento</label>
      <input
        id="date"
        type="date"
        [(ngModel)]="data.task.date"
        name="date"
        required
      />
    </div>
    <div>
      <label for="hours">Horas</label>
      <input
        id="hours"
        type="text"
        [(ngModel)]="data.task.hours"
        name="hours"
        required
      />
    </div>
    <div>
      <div *ngIf="data.task.tags">
        <div *ngFor="let tag of data.task.tags; let i = index">
          <label for="tags">Tag {{ i + 1 }}</label>
          <input
            id="tags{{ i }}"
            type="text"
            [(ngModel)]="data.task.tags[i]"
            name="tags{{ i }}"
            required
          />
        </div>
      </div>
    </div>

    <div>
      <label for="status">Status</label>
      <select name="status" id="status" [(ngModel)]="data.task.status" required>
        <option value="toDo">To Do</option>
        <option value="inProgress">In Progress</option>
        <option value="done">Done</option>
      </select>
    </div>

    <div *ngIf="form.invalid && form.touched">
      <p>Preencha todos os campos</p>
    </div>

    <button type="submit" class="btn-primary" (click)="saveTask()"
      >Salvar Tarefa</button
    >
  </form>
</div>
