<div>
  <h2>Adicionar Nova Tarefa</h2>

  <form (ngSubmit)="submitTask()" #form="ngForm">
    <div class="form-group">
      <label for="title">Titulo</label>
      <input
        class="form-control"
        id="title"
        type="text"
        [(ngModel)]="newTask.title"
        name="title"
        required
      />
    </div>
    <div>
      <label for="description">Descrição</label>
      <input
        id="description"
        type="text"
        [(ngModel)]="newTask.description"
        name="description"
        required
      />
    </div>
    <div>
      <label for="date">Data de Vencimento</label>
      <input
        id="date"
        type="date"
        [(ngModel)]="newTask.date"
        name="date"
        required
        pattern="^\d{4}-\d{2}-\d{2}$"
      />
    </div>

    <div>
      <label for="status">Status</label>
      <select name="status" id="status" [(ngModel)]="newTask.status" required>
        <option value="toDo">ToDo</option>
        <option value="trabalhando">Trabalhando</option>
        <option value="finalizado">Finalizado</option>
      </select>
    </div>

    <div *ngIf="form.invalid && form.touched">
      <p>Preencha todos os campos</p>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar Tarefa</button>
  </form>
</div>
