<div class="list-title">
  <ng-content select="[slot='dragHandle']"></ng-content>
  <input
    type="text"
    [ngModel]="list.title"
    (ngModelChange)="titleUpdate($event)"
    [ngModelOptions]="{ updateOn: 'blur' }"
    (keydown.enter)="self.blur()"
    maxlength="56"
    #self
  />
  <span [appPluralize]="list.tasks.length"></span>
</div>
<ng-content></ng-content>
<button class="list-add-task" (click)="addTask.emit()">
  <img src="assets/icons/add_rounded.svg" alt="" /> Adicionar Card
</button>
